# Flask Application Config
SECRET_KEY=change_this_secret_key
FLASK_ENV=development

# MySQL TiDB Database Connection
# Format: mysql+pymysql://<user>:<password>@<host>:<port>/<dbname>?ssl_ca=...
DATABASE_URL=mysql+pymysql://<user>:<password>@<host>:<port>/<dbname>?ssl_ca=/path/to/ca.pem

# Resend Email API Key (untuk OTP Login Darurat)
RESEND_API_KEY=your_resend_api_key
SENDER_EMAIL=onboarding@resend.dev
PERSONAL_EMAIL=admin@example.com

# Cloudinary Media Config
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
